.home-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
}

.home-content {
    margin-top: 40px;
}

.home-content > h2 {
    font-size: 48px;
    line-height: 65px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.home-content > p {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.015em;
    color: #F2F2F2;
}

.home-content > img {
    margin-top: 50px;
    transform: scale(1.16);
}